*.[oa]
*.img
*.vmdk
*.html
*.txt
*old.*
kernel/mechanism/pc/boot/bios_read_disk.c
*.bin
*.inc
user/drivers/disk/include/
user/drivers/disk/kernel/
*.exe
*.lnk
*temp*.*
*stub*
*.sym
*header*.c
*.lst
*.dis
*.lib
tools/bochs/*sample*
*.log
nbproject/
/tools/bochs/bx_enh_dbg.ini
/tools/processtable/*.ptd